.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 20px; /* Adjust the gap as per your preference */
    justify-content: center; /* Center horizontally */
    align-content: center; /* Center vertically */
}

.grid-item {
    /* Additional styling for each grid item if needed */
    padding: 50px;
}

.blog-title{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 55px;
}
